<template name="companyPostalAddress">

    <legend align="center">Company Postal Address</legend>
    <div class="container">
        <div class="row">
            {{#autoForm collection="CompanyPostalAddress" id="insertCompanyPostalAddressForm" type="insert"}}
                <fieldset>

                    <div class="two-col">
                        <div class="col1">
                            {{> afQuickField name='careOf'}}
                            {{> afQuickField name='postalType'}}
                            {{> afQuickField name='city'}}
                            {{> afQuickField name='district'}}
                            {{> afQuickField name='Region'}}
                        </div>

                        <div class="col2">

                            {{> afQuickField name='phoneNo'}}
                            {{> afQuickField name='mobileNo'}}
                            {{> afQuickField name='Fax'}}
                            {{> afQuickField name='email'}}
                            {{> afQuickField name='webiste'}}
                        </div>

                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Insert</button>
            {{/autoForm}}
        </div>
    </div>

    <div class="col-md-4 col-md-offset-6">
        <a class="btn btn-primary" href="{{pathFor 'directorsParticulars'}}">Next page</a>
    </div>
</template>
