<template name="companyRegProfile">

    <div class="container">
    <div class="row">
    {{#autoForm collection="CompanyRegistrationProfiles" id="insertCompanyRegistrationProfilesForm" type="insert"}}
        <fieldset>
            <legend align="center">Set up Company Profile</legend>
    <div class="two-col">
        <div class="col1">
            {{> afQuickField name='nameOfCompany'}}
            {{> afQuickField name='presentedBy'}}
            {{> afQuickField name='principalActivity'}}
            {{> afQuickField name='iSICCode'}}
            {{> afQuickField name='nameOHouseNo'}}
            {{> afQuickField name='street'}}
        </div>

        <div class="col2">

            {{> afQuickField name='city'}}
            {{> afQuickField name='district'}}
            {{> afQuickField name='Region'}}
            {{> afQuickField name='ownershipOfPremises' options="allowed"}}
            {{> afQuickField name='landlordsName'}}
            <h4>Add your company logo</h4>
            {{> afQuickField name="picture" }}

        </div>

    </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save Details</button>
        {{/autoForm}}
        </div>
        </div>

        <div class="col-md-4 col-md-offset-6">
            <a class="btn btn-primary" href="{{pathFor 'principalPlaceOfBusiness'}}">Next page</a>
        </div>


</template>
