<template name="corporateSecretarysParticulars">
    <legend align="center">Corporate Secretarys Particulars</legend>
    <div class="container">
        <div class="row">
            {{#autoForm collection="CorporateSecretarys" id="insertCorporateSecretarysForm" type="insert"}}
                <fieldset>

                    <div class="two-col">
                        <div class="col1">
                            {{> afQuickField name='corporateName'}}
                            {{> afQuickField name='corporateAddress'}}
                            {{> afQuickField name='corporateTIN'}}
                            {{> afQuickField name='corporateRep'}}
                        </div>

                        <div class="col2">
                            {{> afQuickField name='RepTIN'}}
                            {{> afQuickField name='corporateStamp'}}
                            {{> afQuickField name='corporateRepSignature'}}
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Insert</button>
            {{/autoForm}}
        </div>
    </div>
    <div class="col-md-4 col-md-offset-6">
        <a class="btn btn-primary" href="{{pathFor 'companyAuditor'}}">Next page</a>
    </div>
</template>
