<template name="directorsParticulars">
    <legend align="center">Directors Particulars</legend>
    <div class="container">
        <div class="row">
            {{#autoForm collection="DirectorParticulars" id="insertCompanyPostalAddressForm" type="insert"}}
                <fieldset>

                    <div class="two-col">
                        <div class="col1">
                            {{> afQuickField name='TIN'}}
                            {{> afQuickField name='firstName'}}
                            {{> afQuickField name='middleName'}}
                            {{> afQuickField name='surName'}}
                            {{> afQuickField name='age'}}
                            {{> afQuickField name='foreName'}}
                            {{> afQuickField name='nationality'}}
                        </div>

                        <div class="col2">
                            {{> afQuickField name='nameOHouseNo'}}
                            {{> afQuickField name='street'}}
                            {{> afQuickField name='city'}}
                            {{> afQuickField name='district'}}
                            {{> afQuickField name='Region'}}
                            {{> afQuickField name='businessOccupation'}}
                            {{> afQuickField name='Directorships'}}
                        </div>

                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Insert</button>
            {{/autoForm}}
        </div>
    </div>

    <div class="col-md-4 col-md-offset-4">
        <a class="btn btn-primary" href="{{pathFor 'secretarysParticulars'}}">Next page</a>
        <a class="btn btn-primary" href="{{pathFor 'corporateSecretarysParticulars'}}">Jump to corporate Secretary</a>
    </div>
</template>
