<template name="faq">
    {{> navigation}}
    <div class="faqPage">
    <div class="container">
    <div class="row row-heading">
        <h3 class="howheading">How can we help you?</h3>
        <div class="col-md-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search for help by topic, keywords or phrases" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <section class="page-banner" style="background-image:url(images/background/page-banner.jpg);">
        <div class="auto-container">
            <h1>Frequently Asked Questions</h1>
        </div>
    </section>

    <section id="blog" class="blog-area single section faq">
        <div class="auto-container">
            <div class="row">
                <!-- .faq-content -->
                <div class="col-lg-8 faq-content">
                    <!-- article -->
                    <article>
                        <div class="row">
                            <div class="col-lg-12 faq-title">
                                <h2>do you need help</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-text">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-search">
                                    <input type="text" name="search" placeholder="Enter Search keywords">
                                    <input type="button" name="" value="search">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="general-question">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading headback" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Reparing of boiler and heating system price
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="general-question popular-question">
                                    <h2>popular questions</h2>
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur.
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>At vero eos et accusamus et iusto odio dignissimos</h2>
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect etur, adipisci velit, sed quia non numquam.</p>
                                                    </div>
                                                    <div class="panel_body_down">
                                                        <div class="panel_down_img">
                                                            <img src="images/faqs/1.jpg" alt="">
                                                        </div>
                                                        <div class="panel_down_text">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </article> <!-- /article -->


                </div> <!-- /.Testimonials-V1 -->


                <!-- Blog Sidebar Begins -->
                <div class="col-md-4">

                    <div class="sidebar">

                        <!-- Search -->
                        <div class="search wow fadeInUp">
                            <form>
                                <input type="search" name="name" placeholder="SEARCH..">
                                <input type="submit" value="submit">
                            </form>
                        </div>

                        <!-- Popular Post -->
                        <div class="blog/popular-post widget wow fadeInUp">
                            <!-- Title -->
                            <h2>most popular posts</h2>
                            <ul class="popular-list">
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/1.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/2.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/3.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/4.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- Popular Post Ends-->

                        <!-- Newest Posts -->
                        <div class="blog/popular-post widget wow fadeInUp">
                            <!-- Title -->
                            <h2>Newest posts</h2>
                            <ul class="popular-list">
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/1.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/2.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/3.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                                <!-- Item -->
                                <li>
                                    <!-- Post Image -->
                                    <a href="faq.html#"><img src="images/blog/popular-post/4.jpg" alt="" /></a>
                                    <!-- Details -->
                                    <div class="content">
                                        <h3><a href="faq.html#">Lorem ipsum blog post</a></h3>
                                        <div class="posted-date">July 19, 2014</div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- Newest Post Ends-->


                        <!-- Category Posts -->
                        <div class="category widget wow fadeInUp">
                            <!-- Title -->
                            <h2>Categories</h2>
                            <ul class="category-list">
                                <li>
                                    <h3><a href="faq.html#">Asset Protection</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Bankruptcy</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Bankruptcy Alternatives</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Clients</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Credit Cards</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Pilates</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Running</a></h3>
                                </li>
                                <li>
                                    <h3><a href="faq.html#">Estate Planning</a></h3>
                                </li>
                            </ul>
                        </div><!-- Category Ends-->

                    </div>

                </div><!-- Blog Sidebar Ends -->

            </div>

        </div>
    </section>
</template>
