<template name="faq">
    {{> navigation}}
    <div class="faqPage">
        <div class="container">
            <div class="row row-heading">
                <h3 class="howheading">How can we help you?</h3>
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search for help by topic, keywords or phrases" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="page-banner" style="background-image:url(images/background/page-banner.jpg);">
        <div class="auto-container">
            <h1>Frequently Asked Questions</h1>
        </div>
    </section>

    <section id="blog" class="blog-area single section faq">
        <div class="auto-container">
            <div class="row">
                <!-- .faq-content -->
                <div class="col-lg-8 faq-content">
                    <!-- article -->
                    <article>
                        <div class="row">
                            <div class="col-lg-12 faq-title">
                                <h2>do you need help</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-text">
                                    <p>Click on a topic to view help articles on that subject. If your question is not answered here, please get in touch here: hello.justart@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-search">
                                    <input type="text" name="search" placeholder="Enter Search keywords">
                                    <input type="button" name="" value="search">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="general-question">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading headback" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Business Registration
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="panel_body_up">
                                                        <h2>Procedure</h2>
                                                        <p>All Limited Liability companies are expected to fill out the relevant Application Forms, which serve as the Company’s Regulations. All companies must have an auditor, who must be a member of the Institute of Chartered Accountants, but should not be an officer or servant of the company or be an employee or partner of such persons. When all such forms have been filled satisfactorily and relevant fees paid, a Certificate of Incorporation and a Certificate to Commence Business are issued.</p>

                                                        
                                                    </div>
                                                        <!-- <div class="panel_body_down">
                                                            <div class="panel_down_img">
                                                                <img src="images/faqs/1.jpg" alt="">
                                                            </div>
                                                            <div class="panel_down_text">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Register with the GIPC (For Foreign Investment)
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <div class="panel_body_up">
                                                            <h2>Procedure</h2>
                                                            <p>The GIPC is responsible for registering all Enterprises in Ghana.</p>
                                                            <p>Investors are required to complete Investor Registration Forms (Form GIPC/R1) in triplicate. Within five (5) days from the date of orderly receipt of these forms (and its attachments) the GIPC will formally register the investment.</p>
                                                        </div>
                                                        <div class="panel_body_down">
                                                            <!-- <div class="panel_down_img">
                                                                <img src="images/faqs/1.jpg" alt="">
                                                            </div> -->
                                                            <div class="panel_down_text">
                                                                <p>The Government of Ghana (GoG) recognizes that attracting foreign direct investment requires an enabling legal environment, and has passed laws that encourage foreign investments, and replaced some that previously stifled it. One of such laws is the Ghana Investment Promotion Center (GIPC) Act, 1994 (Act 478). Under this Act, investors are free to set up investment projects in all sectors of the Ghanaian economy, without prior approval by the GIPC, with the exception of the mining, petroleum, and free zones sectors, as well as portfolio investments. Investments in the mining and petroleum sectors require approval or licensing by the Minerals Commission and the Ministry of Mines and Energy respectively. Free Zones (Export Processing Zones) investments must be approved by the Ghana Free Zones Board, while portfolio investments are handled by the Ghana Stock Exchange. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Apply for business licenses at the Metropolitan Authority
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <div class="panel_body_up">
                                                            <h2>Procedure</h2>
                                                            <p>Agency: Metropolitan Authority </p>
                                                            <p>
                                                                The cost to apply for a business license at the Metropolitan Authority depends on the type of business and the category in which it falls. Documents to be submitted depend on the type of enterprise (for example, restaurants must have permits from the fire department and the Town and Country Planning Authority—and, among other documents, an inspection certificate from the Ghana Tourist Board). 
                                                                Companies fall into five categories:
                                                                <li>A. GHC 500,000 in turnover: GHC 400</li>
                                                                <li>B. GHC 200,000–500,000 in turnover: GHC 245.</li>
                                                                <li>C. GHC 100,000 –200,000 in turnover: GHC 160.</li>
                                                                <li>D. GHC 3,000–100,000 in turnover: GHC 91.5.</li>
                                                                <li>E. GHC 0–300 in turnover: GHC 49.5</li>
                                                            </p>
                                                            <p>Fees are subject to charge by the Metropolitan Assembly, according to law.</p>
                                                        </div>
                                                            <!-- <div class="panel_body_down">
                                                                <div class="panel_down_img">
                                                                    <img src="images/faqs/1.jpg" alt="">
                                                                </div>
                                                                <div class="panel_down_text">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                                Apply for social security
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            <div class="panel_body_up">
                                                                <h2>Procedure</h2>
                                                                <p>Agency: Social Security Office </p>
                                                                <p>
                                                                    To apply for social security, you must attach the list of your company's employees, their respective salaries and social security numbers, and the company’s certificate of incorporation and certificate to commence business.</p>
                                                                </div>
                                                                <!-- <div class="panel_body_down">
                                                                    <div class="panel_down_img">
                                                                        <img src="images/faqs/1.jpg" alt="">
                                                                    </div>
                                                                    <div class="panel_down_text">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="headingThree">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                                                    Patents
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                            <div class="panel-body">
                                                                <div class="panel_body_up">
                                                                    <h2>Procedure</h2>
                                                                    <p>Applicant may fill out Patent Forms Nos 1and 2. The application / request should be accompanied with the following attachments:</p>
                                                                    <li>Drawings</li>
                                                                    <li>Abstracts</li>
                                                                    <li>Claims</li>
                                                                    <p>

                                                                        On submission, your application is accorded the date of the receipt and stamped and marked with the Registrar General's stamp.
                                                                        You will be notified of the receipt of the application through email or SMS and your alloted number.
                                                                        Justart conducts formal examination and Registrar issues Patent Certificate on approval.
                                                                        Time Frame: Two – three years.</p>
                                                                    </div>
                                                                    <!-- <div class="panel_body_down">
                                                                        <div class="panel_down_img">
                                                                            <img src="images/faqs/1.jpg" alt="">
                                                                        </div>
                                                                        <div class="panel_down_text">
                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" role="tab" id="headingThree">
                                                                <h4 class="panel-title">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                                                        Registration of Business Names
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                <div class="panel-body">
                                                                    <div class="panel_body_up">
                                                                        <h2>Procedure</h2>
                                                                        <p>You may fill out the "Registration Name" form from your dashboard. Registrar examines and issues business registration certificate as well as a certified true copy of the form to be submitted as attachment.</p>
                                                                        <p>Name registration has to be renewed each year at GH₵ 15.00.</p>
                                                                    </div>
                                                                        <!-- <div class="panel_body_down">
                                                                            <div class="panel_down_img">
                                                                                <img src="images/faqs/1.jpg" alt="">
                                                                            </div>
                                                                            <div class="panel_down_text">
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingThree">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                                                            Trademarks
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                    <div class="panel-body">
                                                                        <div class="panel_body_up">
                                                                            <h2>Procedure</h2>
                                                                            <p>You may fill out the "Trademarks" form on the dashboard. You are required to pay accompanying fees as prescribed on the document. Attach five representations of the mark or symbol or sign. When your application is examined and approved, your mark will be published in the industrial and commercial bulletin. Registrar will then issue Certificate to you at a fee of $100.</p>
                                                                        </div>
                                                                        <!-- <div class="panel_body_down">
                                                                            <div class="panel_down_img">
                                                                                <img src="images/faqs/1.jpg" alt="">
                                                                            </div>
                                                                            <div class="panel_down_text">
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="general-question popular-question">
                                                        <h2>popular questions</h2>
                                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseEight" aria-expanded="false" aria-controls="collapseTwo">
                                                                            How do I register my company in Ghana?
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                    <div class="panel-body">
                                                                        <div class="panel_body_up">
                                                                            <h2>Answer</h2>
                                                                            <p>Simply click and fill out the form of your choice, i.e. "Partnership", "Limited Liability" etc. from your dashboard and pay the fees as prescribed on Justart. You'll receive notification of registration either through SMS or email and have the completed forms and certificates hand-delivered to your address.</p>
                                                                        </div>
                                                                        <!-- <div class="panel_body_down">
                                                                            <div class="panel_down_img">
                                                                                <img src="images/faqs/1.jpg" alt="">
                                                                            </div>
                                                                            <div class="panel_down_text">
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingThree">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                                                                            How long does it take to register a company through the normal process?
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                    <div class="panel-body">
                                                                        <div class="panel_body_up">
                                                                            <h2>Answer</h2>
                                                                            <p>In theory, it's supposed to take not more than 2 weeks. In actual fact, it can take anywhere from 3 months to 1 year due to the bureaucratic nature of the Registrar General's Department. With Justart, you are assured that it will not take more than 2 weeks for your business to be fully registered in Ghana.</p>
                                                                        </div>
                                                                        <!-- <div class="panel_body_down">
                                                                            <div class="panel_down_img">
                                                                                <img src="images/faqs/1.jpg" alt="">
                                                                            </div>
                                                                            <div class="panel_down_text">
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingThree">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                                                                            Which products are in demand in Ghana?
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                    <div class="panel-body">
                                                                        <div class="panel_body_up">
                                                                            <h2>Answer</h2>
                                                                            <p>The most commonly imported products into Ghana include, but are not limited to the following:</p>
                                                                            <p>
                                                                                Rice, sugar, corn, wheat, meat (frozen/canned), fish (frozen/canned) cooking oil, clothing, shoes, medical equipment and pharmaceutical products, machinery and parts, chemicals, air-conditioning and refrigeration units, agricultural equipment, diary products, confectionery, condiments/sauces, wines, alcoholic beverages, cosmetics, computers and accessories, electronic gadgets, motor vehicles and spare parts (new and used), vehicle tyres, books, building materials. The leading sectors for U.S. Export and Investment include telecommunication equipment, computers and peripherals, automobiles, electrical power systems (generators) construction and earthmoving equipment, mining equipment, as well as food processing and packaging equipment.</p>
                                                                            </div>
                                                                            <!-- <div class="panel_body_down">
                                                                                <div class="panel_down_img">
                                                                                    <img src="images/faqs/1.jpg" alt="">
                                                                                </div>
                                                                                <div class="panel_down_text">
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                                </div>
                                                                            </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="faq.html#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                                                                                What are the investment opportunities in the information and telecommunication technology sector?
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                        <div class="panel-body">
                                                                            <div class="panel_body_up">
                                                                                <h2>Answer</h2>
                                                                                <p>Establishment of centers of excellence for production of electrical and electronic products; manufacture and assembly of computer equipment; electronic commerce, Information network operation, medical transcription, legal databases, logistics management, insurance claim processing, back office operations etc.</p>
                                                                            </div>
                                                                            <!-- <div class="panel_body_down">
                                                                                <div class="panel_down_img">
                                                                                    <img src="images/faqs/1.jpg" alt="">
                                                                                </div> -->
                                                                                <!-- <div class="panel_down_text">
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                                                                                </div>
                                                                            </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </article> <!-- /article -->


                                        </div> <!-- /.Testimonials-V1 -->


                                        <!-- Blog Sidebar Begins -->
                                        <div class="col-md-4">

                                            <div class="sidebar">

                                                <!-- Search -->
                                                <div class="search wow fadeInUp">
                                                    <form>
                                                        <input type="search" name="name" placeholder="SEARCH..">
                                                        <input type="submit" value="submit">
                                                    </form>
                                                </div>

                                                <!-- Popular Post -->
                                                <div class="blog/popular-post widget wow fadeInUp">
                                                    <!-- Title -->
                                                    <h2>most popular posts</h2>
                                                    <ul class="popular-list">
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/1.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">How to run a successful business in Ghana</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/2.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">Must know: Ghanaian business etiquette</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/3.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">Your customer's voice is the voice of God</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/4.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">How corruption affects business in Ghana</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div><!-- Popular Post Ends-->

                                                <!-- Newest Posts -->
                                                <div class="blog/popular-post widget wow fadeInUp">
                                                    <!-- Title -->
                                                    <h2>Newest posts</h2>
                                                    <ul class="popular-list">
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/1.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">How to run a successful business in Ghana</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/2.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">How to raise venture capital in Ghana</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/3.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">4 ways to build your dream business</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                        <!-- Item -->
                                                        <li>
                                                            <!-- Post Image -->
                                                            <a href="faq.html#"><img src="images/blog/popular-post/4.jpg" alt="" /></a>
                                                            <!-- Details -->
                                                            <div class="content">
                                                                <h3><a href="faq.html#">How to secure a loan from a Ghanaian bank</a></h3>
                                                                <div class="posted-date">July 19, 2014</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div><!-- Newest Post Ends-->


                                                <!-- Category Posts -->
                                                <div class="category widget wow fadeInUp">
                                                    <!-- Title -->
                                                    <h2>Categories</h2>
                                                    <ul class="category-list">
                                                        <li>
                                                            <h3><a href="faq.html#">Business Registration</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Ghana Investment Promotion Council</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Trademarks</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Patents</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Intellectual Property</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Foreign Investment</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">Social Security</a></h3>
                                                        </li>
                                                        <li>
                                                            <h3><a href="faq.html#">District and Municipal Assemblies</a></h3>
                                                        </li>
                                                    </ul>
                                                </div><!-- Category Ends-->

                                            </div>

                                        </div><!-- Blog Sidebar Ends -->

                                    </div>

                                </div>
                            </section>
                        </template>
