<template name="principalPlaceOfBusiness">
    <legend align="center">Set up Company Profile</legend>
    <div class="container">
        <div class="row">
            {{#autoForm collection="PrincepalPlaceOfBusiness" id="insertPrincepalPlaceOfBusinessForm" type="insert"}}
                <fieldset>

                    <div class="two-col">
                        <div class="col1">
                            {{> afQuickField name='nameOHouseNo'}}
                            {{> afQuickField name='street'}}
                            {{> afQuickField name='city'}}
                            {{> afQuickField name='district'}}

                        </div>

                        <div class="col2">
                            {{> afQuickField name='Region'}}
                            {{> afQuickField name='ownershipOfPremises'}}
                            {{> afQuickField name='landlordsName'}}
                        </div>

                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Insert</button>
            {{/autoForm}}
        </div>
    </div>

    <div class="col-md-4 col-md-offset-6">
        <a class="btn btn-primary" href="{{pathFor 'companyPostalAddress'}}">Next page</a>
    </div>


</template>
