<template name="companySecretarySignature">
    <legend align="center">Company Secretary Signature</legend>
    <div class="container">
        <div class="row">
            {{#autoForm collection="SecretarySignature" id="insertSecretarySignatureForm" type="insert"}}
                <fieldset>
                    {{> afQuickField name='secretaryName'}}
                    <h4>Upload Your Signature</h4>
                    {{> afQuickField name="picture" }}


                </fieldset>
                <button type="submit" class="btn btn-primary">Insert</button>
            {{/autoForm}}
        </div>
    </div>
    <div class="col-md-4 col-md-offset-6">
        <a class="btn btn-primary" href="{{pathFor 'smeDetails'}}">Sme Details</a>
    </div>
</template>
