<template name="dashboardIntro">
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <p align="center"><div class="logo"><img src="/images/justart.png" alt="Justart" title="Justart"></div></p>
                      <p align="center"> <h1>Company Registration</h1></p>
                        <p>1. Please prepare your particulars for the Registration. (logo if any, scanned signature of director, secretary and Auditor) </p>
                            <p>2. We have description on the fields and when you hover your mouse on the fields,
                                these descriptions are to help you fill the registration form with ease.</p>
                        <p>3. <i class="fa fa-close"></i> on the side menu means you haven't filled that section of the form</p>
                        <p>4. <i class="fa fa-check"></i> on the side menu means you have filled that section of the form and can be edited</p>
                        <p>5. You can always come back and complete your application at anytime,
                        just make sure to save after every form you fill.</p>
                        <p>6. Check Application Summary for Details of your application</p>
                        <code>**Your application changes will NOT take effect ONLY when you hit the
                            SUBMIT DATA TO JUSTART on the Application Summary Page then make changes later**</code>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

</template>
