<template name="updateSecretarysParticulars">

    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{#autoForm collection="CompanySecretary" id="updateCompanySecretaryForm" doc=autoUpdatesecretaryPart type="update"}}
                            <fieldset>
                                <h2 class="heading">Secretary Particulars<span></span></h2>

                                {{> afQuickField name='TIN'}}
                                {{> afQuickField name='firstName'}}
                                {{> afQuickField name='middleName'}}
                                {{> afQuickField name='surName'}}
                                {{> afQuickField name='age'}}
                                {{> afQuickField name='foreName'}}
                                {{> afQuickField name='nationality'}}
                                {{> afQuickField name='nameOHouseNo'}}
                                {{> afQuickField name='street'}}
                                {{> afQuickField name='city'}}
                                {{> afQuickField name='district'}}
                                {{> afQuickField name='Region'}}
                                {{> afQuickField name='businessOccupation'}}

                            </fieldset>
                            <button type="submit" class="btn btn-primary txt2">Udpate</button>
                        {{/autoForm}}

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</template>
