<template name="updateDirectorsParticulars">
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        {{#autoForm collection="DirectorParticulars" id="updateDirectorParticularsForm" doc=autoUpdatedirectorPart type="update"}}
                            <fieldset>

                                <h2 class="heading">Directors Particulars<span></span></h2>

                                {{> afQuickField name='TIN' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='firstName' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='middleName' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='surName' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='age' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='foreName' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='nationality' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='nameOHouseNo' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='street' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='city' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='district' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='Region' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='businessOccupation' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='Directorships' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}


                            </fieldset>
                            <button type="submit" class="btn btn-primary txt2">Update</button>
                        {{/autoForm}}



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</template>
