<template name="updateCorporateSecretarysParticulars">

    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">


                        {{#autoForm collection="CorporateSecretarys" id="updateCorporateSecretarysForm" doc=autoUpdatecorpsecretaryPart type="update"}}
                            <fieldset>

                                <h2 class="heading">Corporate Secretarys Particulars<span></span></h2>

                                {{> afQuickField name='corporateName' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='corporateAddress' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='corporateTIN' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='corporateRep' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='RepTIN' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                {{> afQuickField name='corporateStamp' class="txt"  data-toggle="btnToolTip"
                                data-placement="right" title="Name of the company you want to register" placeholder="Name of the company you want to register"}}

                                <h4>Add your company logo</h4>
                                {{> afQuickField name="picture" }}

                            </fieldset>
                            <button type="submit" class="btn btn-primary txt2">Update</button>
                        {{/autoForm}}

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</template>
